@model IEnumerable<EcommerceLeo.Domain.Entities.Produto>
@{
    ViewData["Title"] = "Index";
}

<script>
    function Deletar(id) {
        debugger;

        $(".modal fade").modal();

        $(".btnSim").on('click', function () {
            $.ajax({
                url: "/Admin/Produto/DeleteProduto?id=" + id,
                method: "DELETE",
                success: function (data) {
                    $(".modal fade").modal('hide');
                    location.reload(true);
                }
            });
        });
    }
</script>

<br />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4><a type="button" href="@Url.Action("Create","Produto", new {area = "Admin" })" class="btn btn-danger">Cadastrar Produto</a></h4>
            <div class="table-responsive">
                <table id="mytable" class="table table-bordred table-striped">
                    <thead>
                    <th>Id Produto</th>
                    <th>Nome do Produto</th>
                    <th>Categoria do Produto</th>
                    <th>Preço do Produto</th>
                    <th>Ação</th>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.idProduto)</td>
                                <td>@Html.DisplayFor(modelItem => item.nmProduto)</td>
                                <td>@Html.DisplayFor(modelItem => item.idCateProd)</td>
                                <td>@Html.DisplayFor(modelItem => item.precoProduto)</td>
                                <td>
                                    <p data-placement="top" data-toggle="tooltip" title="Edit"><a type="button" href="@Url.Action("Edit","Produto", new { id=item.idProduto, area="Admin" })" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></a></p>
                                    <p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" onclick="Deletar('@item.idProduto')" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="clearfix"></div>
                <ul class="pagination pull-right">
                    <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                </ul>

            </div>

        </div>
    </div>
</div>

<!--MODAL EXCLUSÃO-->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Deletar o produto</h4>
            </div>
            <div class="modal-body">

                <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Você tem certeza que deseja deletar esse registro?</div>

            </div>
            <div class="modal-footer ">
                <button type="button" id="Sim" class="btn btn-success btnSim"><span class="glyphicon glyphicon-ok-sign"></span> Sim</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Não</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>