@model IEnumerable<EcommerceLeo.Domain.Entities.Produto>
@using System.Linq
@{
    ViewData["Title"] = "Index";
}


<script src="~/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $(document).on('click', '.inc.qtybtn', function () {
            var div_pro_qty = $(this).parent('.pro-qty')
            var valorIndiceItem = $(div_pro_qty).attr("data-indice")            
            console.log('adicionei - ' + valorIndiceItem)
        })

        $(document).on('click', '.dec.qtybtn', function ()  {
            console.log('removi')
        })
    })
</script>
<script>
    function ConfirmaExclusao(id) {
        debugger;
        $(".btnExcluir").on('click', function () {
            $.ajax({
                url: "/Carrinho/Delete?id=" + id,
                method: "DELETE",
                success: function (data) {
                    location.reload(true);
                }
            });
        });
    }


    

    function incrementarItem(indexCampo, valorProduto) {

    }

    function decrementarItem(indexCampo, valorProduto) {

    }
</script>

<!-- Page info -->
<div class="page-top-info">
    <div class="container">
        <h4>Seu Carrinho</h4>
        <div class="site-pagination">
            <a href="@Url.Action("Index","Home")">Home</a> /
            <a href="">Seu carrinho</a>
        </div>
    </div>
</div>
<!-- Page info end -->
<!-- cart section end -->
<section class="cart-section spad">
    <div class="container">
        @if (ViewBag.Prod == null || ViewBag.Prod.Count == 0)
        {
            <div class="row">
                <div class="col-lg-8">
                    <div class="cart-table">
                        <h3>Seu Carrinho</h3>
                        <h2>Está vazio!!! Olhe o e-commerce e vá comprar coisas</h2>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-lg-8">
                    <div class="cart-table">
                        <h3>Seu Carrinho</h3>
                        <div class="cart-table-warp">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product-th">Produto</th>
                                        <th class="quy-th">Quantidade</th>
                                        <th class="size-th">Tamanho</th>
                                        <th class="total-th">Preço</th>
                                        <th class="total-th">Ação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int indice = 1;}
                                    @foreach (var item in Model)
                                    {                                       
                                        <tr id="tr_item_@indice">
                                            <td class="product-col">
                                                <img src="@Url.Content(item.urlFoto)" alt="">
                                                <div class="pc-title">
                                                    <h4>@Html.DisplayFor(modelItem => item.nmProduto)</h4>
                                                    <p>@Html.DisplayFor(modelItem => item.precoProduto)</p>
                                                </div>
                                            </td>
                                            <td class="quy-col">
                                                <div class="quantity">
                                                    <div class="pro-qty" data-indice="@indice">
                                                        <input type="text" value="1">
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="size-col"><h4>M</h4></td>
                                            <td class="total-col"><h4 data-valorItem="@indice">R$@Html.DisplayFor(modelItem => item.precoProduto)</h4></td>
                                            <td class="size-col">
                                                <form asp-action="Index" method="post">
                                                    <input type="submit" asp-action="Index" asp-route-id="@item.idProduto" class="site-btn form-control" value="Remover">
                                                </form>
                                                @*<a onclick="ConfirmaExclusao('@item.idProduto')" id="btnExcluir" aria-label="Excluir" class="btn btn-danger btn-sm">
                                                    <i class="fas fa-trash-alt"></i>Remover
                                                </a>*@
                                            </td>
                                        </tr>
                                        indice++;
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="total-cost">
                            <h6>Total <span>@Model.Sum(i => i.precoProduto).ToString("C")</span></h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 card-right">
                    <form class="promo-code-form">
                        <input type="text" placeholder="Insira o código promocional">
                        <button>Enviar</button>
                    </form>
                    <a href="@Url.Action("Checkout","Checkout")" class="site-btn">Fazer o checkout</a>
                    <a href="@Url.Action("Index","Home")" class="site-btn sb-dark">Continue comprando</a>
                </div>
            </div>
        }

    </div>
</section>
<!-- cart section end -->
<!-- Related product section -->
<section class="related-product-section">
    <div class="container">
        <div class="section-title text-uppercase">
            <h2>Continue Shopping</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <div class="tag-new">New</div>
                        <img src="./img/product/2.jpg" alt="">
                        <div class="pi-links">
                            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>$35,00</h6>
                        <p>Black and White Stripes Dress</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="./img/product/5.jpg" alt="">
                        <div class="pi-links">
                            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>$35,00</h6>
                        <p>Flamboyant Pink Top </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="./img/product/9.jpg" alt="">
                        <div class="pi-links">
                            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>$35,00</h6>
                        <p>Flamboyant Pink Top </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="./img/product/1.jpg" alt="">
                        <div class="pi-links">
                            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>$35,00</h6>
                        <p>Flamboyant Pink Top </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Related product section end -->
